@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.bedroom {
  display: flex;
  flex-direction: column;

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  &__card {
    height: 100%;
    width: 20rem;
    margin: 1rem;
  }

  &__title {
    margin: 12rem 0 2.5rem 0;
    text-align: center;
  }
}
