@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.bedroom {

    display: flex;
    flex-direction: column;
    align-items: center;

&__gallery {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

&__card {
    border: red 1px solid;
    height: 15rem;
    width: 20rem;
    margin: 1rem;
}

}