// background colours
$black: rgb(0, 0, 0);
$charcol-black: rgb(32, 32, 32);
$grey-black: rgb(64, 64, 64);
$grey-black-transparent: rgba(64, 64, 64, 0.25);

// text colours
$white: whitesmoke;
$grey: grey;
