@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.misc {
    display: flex;
    flex-direction: column;
  
    &__gallery {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;
    }
    &__card {
      height: 100%;
      width: 20rem;
      margin: 1rem;
    }
  
    &__title {
      margin: 1rem 0 1rem 0;
      text-align: center;
      font-size: 2rem;
      color: rgb(61, 61, 61);
    }

    &__text-row-one {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin-top: .5rem;
    }
  }